<div id="footer">
    <div id="footer_div">

        <div class="copy">

            <p id="copy_footer">Copyrights: Milan Mutić, Davor Nađ, Nemanja Rogić, Petar Stošić</p>

        </div>
    </div>
</div>