<a href="#/login"><img src="/images/cover.png" style="margin-right: 10px;" height="110"/></a>
<nav class="navbar navbar-default">
  <div class="container" ng-controller="navBarController">
    
    <ul class="nav navbar-nav" >
      <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Propisi<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="button" ><a href="#/predlozeniPropisi">Predloženi</a></li>
            <li role="button" ><a href="#/odbijeniPropisi">Odbijeni</a></li>
            <li role="button" ><a href="#/pretraga/ps">Pretraga po sadržaju</a></li>
            <li role="button" ><a href="#/pretraga/pr">Pretraga po referenci</a></li>
            <li role="button" ><a href="#/propisiMeta">Pretraga po meta podacima</a></li>
          </ul>
        </li>
      
      <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Amandmani<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="button" ><a href="#/predlozeniAmandmani">Predloženi</a></li>
            <li role="button" ><a href="#/pretraga/as">Pretraga po sadržaju</a></li>
            <li role="button" ><a href="#/pretraga/ar">Pretraga po referenci</a></li>
            <li role="button" ><a href="#/amandmaniMeta">Pretraga po meta podacima</a></li>
          </ul>
        </li>
      <!--<li><a href="#/donetiPropisi">Doneti propisi</a></li> -->
      <li><a href="#/sednica" ng-if="role=='predsednik'">Sednica</a></li>
    </ul>
      
    <ul class="nav navbar-nav navbar-right">
        <li><a role="button" ng-click="logout()" style="font-weight: bold;">Odjavi se [{{email}}]</a></li>
    </ul>
  </div>
</nav>