<ng-include src="'templates/navbar.html'"></ng-include>

<div class="container">
    <div class="form-group">
        <label for="amandman">Novi amandman:</label>
        
        <!-- <treasure-overlay-spinner active='spinner.active'> -->
            <textarea class="form-control" rows="15" id="amandman" ng-model="amandman"></textarea>
            <button ng-click="create()" class="btn btn-success" style="margin-top:10px; ">Predloži</button> 
        <!-- </treasure-overlay-spinner> -->
        
        <span style="color:red;">{{errorMesage}}</span>
    </div> 
</div>