<ng-include src="'templates/navbar.html'"></ng-include>

<div class="container">
    <div class="form-group">
        <label for="akt">Novi pravni akt:</label>
        
        <!-- <treasure-overlay-spinner active='spinner.active'> -->
            <textarea class="form-control" rows="15" id="akt" ng-model="akt"></textarea>
            <button ng-click="create()" class="btn btn-success" style="margin-top:10px; ">Predloži</button>
        <!-- </treasure-overlay-spinner> -->
        
        <span style="color:red;">{{errorMessage}}</span>
    </div> 
</div>