<ng-include src="'templates/navbar.html'"></ng-include>

<treasure-overlay-spinner active='spinner.active'>
    <div class="container">
        <table class="table table-bordered">
            <tr><td colspan="3" style="text-align: center; font-weight: bold;">{{nazivTabele}}</td></tr>
            <th>Broj</th>
            <th>Naziv</th>
            <th>Akcija</th>
            <tr ng-repeat="d in odbijeniPropisi">
                <td>{{$index+1}}</td>
                <td>{{d.naziv}}</td>
                <td>
                    <button ng-click="showItem(d.id)" class="btn btn-success">Prikaži</button>
                    <button ng-click="predlozi(d.id)" class="btn btn-info" ng-if="!sednicaZapoceta && role!='gradjanin' && user== d.potpisnik">Predloži</button>
                </td>
            </tr>
        </table>
    </div>
</treasure-overlay-spinner>