<ng-include src="'templates/navbar.html'"></ng-include>

<div class="container">
    
        
    <button ng-if="!sednicaZapoceta && role != 'gradjanin'" ng-disabled="sednicaZapoceta" ng-click="createNew()" class="btn btn-danger" style="margin-bottom:10px; ">Predloži novi amandman</button>
    
    <treasure-overlay-spinner active='spinner.active'>
        <table class="table table-bordered">
            
            <tr><td colspan="3" style="text-align: center; font-weight: bold;">{{nazivTabele}}</td></tr>
            <th>Broj</th>
            <th>Naziv</th>
            <th>Akcija</th>
            <tr ng-repeat="d in predlozeniAmandmani">
                <td>{{$index+1}}</td>
                <td>{{d.naziv}}</td>
                <td>
                    <button ng-click="showItem(d.id)" class="btn btn-success">Prikaži</button>
                    <button ng-click="generatePDF(d.id)" class="btn btn-warning">Generiši PDF</button>
                    <button ng-if="role != 'gradjanin' && user==d.potpisnik" ng-click="deleteItem(d.id)" class="btn btn-danger">Obriši</button>
                </td>
            </tr>
        </table>
    </treasure-overlay-spinner>

    <embed ng-src="{{content}}" style="width:100%;height:500px;"></embed>
    
</div>