<ng-include src="'templates/navbar.html'"></ng-include>

<!-- pretraga -->
<div class="container" ng-show="!resultsReady">
    <!-- pretraga po stringu-->

    <div ng-show="searchCase == 'ps' || searchCase == 'as'">
        <input type="text" ng-model="searchValue" class="form-control" style="width: 200px;"/>
    </div>   
    <!-- pretraga po vrednosti elementa stringu-->
    <div ng-show="searchCase == 'pr' || searchCase == 'ar'">
        <select class="form-control" id="sel1" ng-model="element" style="width: 200px;">
            <option value="deo">Deo</option>
            <option value="glava">Glava</option>
            <option value="odeljak">Odeljak</option>
            <option value="clan">Član</option>
            <option value="stav">Stav</option>
            <option value="tacka">Tačka</option>
        </select>
        <input type="text" ng-model="searchValue" class="form-control" style="margin-top: 10px; width: 200px;"/>
    </div> 

    <button ng-click="search()" class="btn btn-success" style="margin-top: 10px; width: 200px;">Pretraga</button>
</div>

<!-- prikaz rezultata -->
<div class="container" ng-if="resultsReady">
        
        <treasure-overlay-spinner active='spinner.active'>
            <table class="table table-bordered">
                <tr style="background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 46%,#eaeaea 100%);"><td colspan="3" style="text-align: center; font-weight: bold;">{{tableName}}</td></tr>
                <th>Broj</th>
                <th>Rezultat pretrage</th>
                <th>Akcija</th>
                <tr ng-repeat="result in results">
                    <td>{{$index+1}}</td>
                    <td>
                        <p ng-repeat="p in result.matchResults">
                            <ng-bind-html ng-bind-html="p">
                            </ng-bind-html>
                        </p>
                    </td>
                    <td><button ng-click="show(result.id)" class="btn btn-success">Prikaži dokument</button></td>
                </tr>
            </table>
        </treasure-overlay-spinner>
        <button ng-click="cancel()" class="btn btn-success">Cancel</button>

</div>