<ng-include src="'templates/navbar.html'"></ng-include>


<div class="container">
    <table>
        <tr>
            <td>Datum predlaganja:</td>
            <td><input type="date" ng-model="searchParam.datumPredlaganja" class="form-control" style="margin-left:10px;"/></td>
        </tr>
        <tr>
            <td>Datum usvajanja:</td>
            <td><input type="date" ng-model="searchParam.datumUsvajanja" class="form-control" style="margin-top:10px; margin-left:10px;"/></td>
        </tr>
        <tr >
            <td>Naslov:</td>
            <td><input type="text" ng-model="searchParam.naslov" class="form-control" style="margin-top:10px; margin-left:10px;"/></td>
        </tr>

        <tr >
            <td colspan="2" style="text-align: center; "><button ng-click="search()" class="btn btn-success" style="margin-top:10px;">Pretraga</button></td>
        </tr>
    </table>

        
        
    <table class="table table-bordered" ng-if="dataReady" style="margin-top: 10px;">
        <tr style="background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 46%,#eaeaea 100%);"><td colspan="3" style="text-align: center; font-weight: bold;">Rezultat pretrage</td></tr>
        <th>Broj</th>
        <th>Naziv</th>
        <th>Akcija</th>
        <tr ng-repeat="d in result">
            <td>{{$index+1}}</td>
            <td>{{d.naziv}}</td>
            <td><button ng-click="showItem(d.id)" class="btn btn-success">Prikaži</button></td>
        </tr>
    </table>


</div>

