<div class="container">
        <treasure-overlay-spinner active='spinner.active'>
    	<div class="row" style="margin-top: 50px;">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#/login" id="login-form-link">Logovanje</a>
							</div>
							<div class="col-xs-6">
								<a href="#/register" class="active" id="register-form-link">Registracija</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form name="registerForm" id="registerForm">
                                    <div class="form-group">
										<input type="email" name="email" id="email" ng-model="user.email" tabindex="1" class="form-control" placeholder="E-mail" ng-pattern="emailRegex" ng-maxlength="35" required/>
                                        
                                        <span ng-show="!registerForm.email.$error.required && registerForm.email.$dirty && registerForm.email.$error.pattern" style="color:red;">Netačno unet e-mail.</span>
                                        
                                        <span ng-show="registerForm.email.$error.required && registerForm.email.$dirty"  style="color:red;">Unesite e-mail.</span>
                                        
                                        <span ng-show="registerForm.email.$error.maxlength" style="color:red;">Email može sadržati maksimalno 35 karaktera.</span>
									</div>
                                    
                                    <div class="form-group">
										<input type="text" name="ime" id="ime" ng-model="user.ime" tabindex="2" class="form-control" placeholder="Ime" ng-maxlength="20" required/>
                                        
                                        <span ng-show="registerForm.ime.$error.required && registerForm.ime.$dirty" style="color:red;">Unesite ime.</span>
                                        
                                        <span ng-show="registerForm.ime.$error.maxlength" style="color:red;">Ime može sadržati maksimalno 20 karaktera.</span>
									</div>
                                    
                                    <div class="form-group">
										<input type="text" name="prezime" id="prezime" ng-model="user.prezime" tabindex="3" class="form-control" placeholder="Prezime" ng-maxlength="20" required/>
                                        
                                        <span ng-show="registerForm.prezime.$error.required && registerForm.prezime.$dirty" style="color:red;">Unesite prezime.</span>
                                        
                                        <span ng-show="registerForm.prezime.$error.maxlength" style="color:red;">Prezime može sadržati maksimalno 20 karaktera.</span>
									</div>
                                    
									<div class="form-group">
										<input type="password" name="password" id="password" ng-model="user.password" tabindex="4" class="form-control" placeholder="Šifra" ng-minlength="8" ng-maxlength="20" ng-pattern="passwordRegex" required />
                                        
                                        <span ng-show="registerForm.password.$error.required && registerForm.password.$dirty"  style="color:red;">Unesite šifru.</span>
                                        
                                        <span ng-show="!registerForm.password.$error.required && !registerForm.password.$error.minlength && !registerForm.password.$error.maxlength && registerForm.password.$error.pattern && registerForm.password.$dirty" style="color:red;">Šifra mora sadržati broj,specijalni znak,malo i veliko slovo.</span>
                                        
                                        <span ng-show="!registerForm.password.$error.required && (registerForm.password.$error.minlength || registerForm.password.$error.maxlength) && registerForm.password.$dirty" style="color:red;">Šifra mora imati 8-20 karaktera.</span>
                                                                               
									</div>
                                    
                                    <div class="form-group">
										<input type="password" name="repeatPassword" id="repeatPassword" ng-model="user.repeatPassword" tabindex="5" class="form-control" placeholder="Ponovi šifru" required/>
                                        <span ng-show="user.password != user.repeatPassword && user.repeatPassword" class="error" style="color:red;">Šifre se ne poklapaju.</span>
									</div>
                                    
                                    <div>
                                        <span style="color:red;">{{errorMessage}}</span>
                                    </div>
                                    
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" tabindex="6" class="form-control btn btn-register" value="Registruj se"
                                                    ng-disabled="registerForm.email.$error.required || registerForm.email.$error.pattern || registerForm.ime.$error.required || registerForm.prezime.$error.required || registerForm.password.$error.required || (registerForm.password.$error.minlength || registerForm.password.$error.maxlength) || registerForm.password.$error.pattern || user.password != user.repeatPassword || !user.repeatPassword || registerForm.email.$error.maxlength || registerForm.ime.$error.maxlength || registerForm.prezime.$error.maxlength" ng-click="registerUser(user)"/>
											</div>
										</div>
									</div>
                                </form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </treasure-overlay-spinner>
	</div>