<ng-include src="'templates/navbar.html'"></ng-include>

<treasure-overlay-spinner active='spinner.active'>
    <div ng-if="role=='predsednik'">
        
    <button ng-if="!sednicaZapoceta" class="form-control btn btn-success" ng-click="zapocniSednicu()" style="margin-left:112px; width: 180px;">Započni sednicu</button>
    <button ng-if="sednicaZapoceta && !pregledAmandmanaAktuelan" class="form-control btn btn-danger" ng-click="zavrsiSednicu()" style="margin-left:112px; width: 180px;">Završi sednicu</button>

    <div class="container" ng-show="sednicaZapoceta && !pregledAmandmanaAktuelan">
        <br/>

        <table class="table table-bordered">
            <th>Redni broj</th>
            <th>Predloženi propisi</th>
            <th>Usvoji u načelu</th>
            <th>Predloženi amandmani</th>
            <tr ng-repeat="propis in predlozeniPropisi">
                <td>{{$index+1}}</td>
                <td>{{propis.naziv}}</td>
                <td><input type="checkbox" ng-disabled="stanjePropisa[$index].disabled" ng-model="propis.usvojenBool"></td>
                <td><button ng-disabled="!propis.usvojenBool" class="btn btn-primary" ng-click="pogledajAmandmane(propis.id, $index)">Pogledaj</button></td>
            </tr>
        </table>

    </div>


    <div class="container" ng-show="sednicaZapoceta && pregledAmandmanaAktuelan">

        <h3>Propis: {{nazivPropisa}}</h3><br/>

        <table class="table table-bordered">
            <th>Redni broj</th>
            <th>Naziv amandmana</th>
            <th>Akcija</th>
            <th>Pogledaj detalje</th>
            <th>Usvoji</th>
            <tr ng-repeat="aman in odabraniAmandmani">
                <td>{{$index+1}}</td>
                <td>{{aman.naziv}}</td>
                <td>{{aman.akcija | uppercase}}</td>
                <td><button class="btn btn-primary" ng-click="showItem(aman.id)">Pogledaj</button></td>
                <td><input type="checkbox" ng-model="aman.usvojen"></td>  
            </tr>
        </table>

        <button class="btn btn-warning" ng-click="povratakNaSednicu()">Povratak na sednicu</button>
        <button class="btn btn-primary" ng-click="sacuvajIzmeneAmandmana()">Sačuvaj izmene</button>
    </div>
    
    </div>
</treasure-overlay-spinner>

